astunparse==1.5.0
bleach==3.3.0
certifi==2017.11.5
chardet==3.0.4
click==6.7
cobra==0.10.1
configparser==3.5.0
cplex==12.8.0.0
cycler==0.10.0
Cython==0.27.3
decorator==4.2.1
dill==0.2.5
docloud==1.0.257
docplex==2.4.61
entrypoints==0.2.3
enum34==1.1.6
flasgger==0.8.0
Flask==1.0
Flask-Cors==3.0.9
future==0.16.0
geojson==2.3.0
GEOparse==1.0.5
html5lib==1.0.1
idna==2.6
imbalanced-learn==0.3.2
ipykernel==4.8.0
ipython==7.16.3
ipython-genutils==0.2.0
ipywidgets==7.1.0
itsdangerous==0.24
jedi==0.11.1
Jinja2==2.11.3
joblib==0.11
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.1
jupyter-console==5.2.0
jupyter-core==4.4.0
lxml==4.9.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.1.1
metabolitics==0.0.10
mistune==2.0.3
mpld3==0.3
mpmath>=1.0.0
nbconvert==6.5.1
nbformat==4.4.0
notebook==6.4.12
numpy==1.22.0
optlang==1.3.0
pandas==0.22.0
pandocfilters==1.4.2
parso==0.1.1
passlib==1.7.1
pexpect==4.3.1
pickleshare==0.7.4
pixiedust==1.1.5
pkg-resources==0.0.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pybedtools==0.7.10
PyFunctional==1.1.2
Pygments==2.7.4
PyHGNC==0.2.4
PyMySQL==0.8.0
pyparsing==2.2.0
pysam==0.13
python-dateutil==2.6.1
pytz==2017.3
PyYAML==5.4
pyzmq==16.0.3
qtconsole==4.3.1
requests==2.18.4
ruamel.yaml==0.14.12
scikit-learn==0.19.1
scipy==1.0.0
Send2Trash==1.4.2
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
sklearn-utils==0.0.13
SQLAlchemy==1.3.0
swiglpk==1.4.4
sympy==1.1.1
tabulate==0.7.7
terminado==0.8.1
testpath==0.3.1
tornado==4.5.3
tqdm==4.19.5
traitlets==4.3.2
urllib3==1.26.5
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.5
wgetter==0.7
widgetsnbextension==3.1.0
WTForms==2.1
